.col-4.bg-light.p-5
    .card.p-3.mb-3.shadow
        h1.text-center=`Admin`
    .card.p-3.shadow
        .row.p-3 
            a.btn.btn-primary.w-100.mb-3(href='/') User
            a.btn.btn-primary.w-100.mb-3(href='/stores') Stores
            a.btn.btn-primary.w-100.mb-3(href='/plants') Plants
            a.btn.btn-primary.w-100.mb-3(href='/transactions') Transactions
        .row.p-3 
            button.btn.btn-primary.w-100.mb-3(type="button") Log Out