extends base

block content 
  .col.bg-light
    .card.p-5.shadow.mt-5.me-5
      .row.mb-5
        .col 
          h1= `${title}`
      .row
        .col.m-2
          .row.mb-5
            label.form-label(for='formFile') Image Cover
            input#formFile.form-control(type='file')

          .row.mb-4
            label.form-label(for='formFile') Image 1
            input#formFile.form-control(type='file')
          .row.mb-4
            label.form-label(for='formFile') Image 2
            input#formFile.form-control(type='file')
          .row.mb-4
            label.form-label(for='formFile') Image 3
            input#formFile.form-control(type='file')
          .row.mb-4
            label.form-label(for='formFile') Image 4
            input#formFile.form-control(type='file')
          .row.mb-4
            label.form-label(for='formFile') Image 5
            input#formFile.form-control(type='file')
          .row.mb-4
            label.form-label(for='formFile') Image 6
            input#formFile.form-control(type='file')
        .col.m-2
          .row.mb-4
            label.form-label.mb-2(for='storeName') Name
            input#storeName.form-control(type='text')

          .row.mb-4
            label.form-label.mb-2(for='description') Description
            textarea#description.form-control(placeholder='Leave a comment here' style='height: 350px')


        .row.mb-4
          .card.p-3
            .row
              .col
                .input-group.mb-3
                  span#inputGroup-sizing-default.input-group-text Price
                  input.form-control(type='text' aria-label='Sizing example input' aria-describedby='inputGroup-sizing-default')

              .col
                .row.mb-4
                  .btn-group
                    button.btn.btn-secondary.dropdown-toggle.text-start(type='button' data-bs-toggle='dropdown' aria-expanded='false') Store
                    ul.dropdown-menu
                      each store in stores
                        li
                          button.dropdown-item=`${store.storeName}`
              .col
                .row.mb-4
                  .btn-group
                    button.btn.btn-secondary.dropdown-toggle.text-start(type='button' data-bs-toggle='dropdown' aria-expanded='false') Difficulty
                    ul.dropdown-menu
                      li
                        button.dropdown-item Easy
                      li
                        button.dropdown-item Medium
                      li
                        button.dropdown-item Hard
        .row.mb-4
          .card.p-3
            .row
              .col
                label.form-label.mb-2(for='storeName') Stock
                input#storeName.form-control(type='text')
              .col
                label.form-label.mb-2(for='storeName') Height
                input#storeName.form-control(type='text')
              .col
                label.form-label.mb-2(for='storeName') Diameter
                input#storeName.form-control(type='text')
              .col
                label.form-label.mb-2(for='storeName') Duration
                input#storeName.form-control(type='text')
        .row.mb-4
          .card.p-3
            .row
              label.form-label.mb-2(for='') Type
              .col
                .form-check
                  input#flexCheckDisabled.form-check-input(type='checkbox' value='' )
                  label.form-check-label(for='flexCheckDisabled') Outdoor
              .col
                .form-check
                  input#flexCheckCheckedDisabled.form-check-input(type='checkbox' )
                  label.form-check-label(for='flexCheckCheckedDisabled') Indoor


        .row.mb-4
          .card.p-3
            .row
              label.form-label.mb-2(for='') Season
              .col
                .form-check
                  input#flexCheckDisabled.form-check-input(type='checkbox' value='' )
                  label.form-check-label(for='flexCheckDisabled') Musim Hujan
              .col
                .form-check
                  input#flexCheckCheckedDisabled.form-check-input(type='checkbox' )
                  label.form-check-label(for='flexCheckCheckedDisabled') Musim Panas
        .row.mb-4
          .card.p-3
            .row
              label.form-label.mb-2(for='') Habitat
              .col
                .form-check
                  input#flexCheckDisabled.form-check-input(type='checkbox' value='' )
                  label.form-check-label(for='flexCheckDisabled') Hutan Tropis
              .col
                .form-check
                  input#flexCheckCheckedDisabled.form-check-input(type='checkbox' )
                  label.form-check-label(for='flexCheckCheckedDisabled') Penghujung sungai

        .row.mb-4
          .card.p-3
            .row.mb-4
              label.form-label.mb-2(for='') Tags
              .col
                .form-check
                  input#flexCheckDisabled.form-check-input(type='checkbox' value='' )
                  label.form-check-label(for='flexCheckDisabled') Musiman
              .col
                .form-check
                  input#flexCheckDisabled.form-check-input(type='checkbox' value='' )
                  label.form-check-label(for='flexCheckDisabled') Hiasan Ruangan
              .col
                .form-check
                  input#flexCheckDisabled.form-check-input(type='checkbox' value='' )
                  label.form-check-label(for='flexCheckDisabled') Hiasan Luar Ruangan
              .col
                .form-check
                  input#flexCheckCheckedDisabled.form-check-input(type='checkbox' )
                  label.form-check-label(for='flexCheckCheckedDisabled') Hobi
              .col
                .form-check
                  input#flexCheckCheckedDisabled.form-check-input(type='checkbox' )
                  label.form-check-label(for='flexCheckCheckedDisabled') Koleksi
              .col
                .form-check
                  input#flexCheckCheckedDisabled.form-check-input(type='checkbox' )
                  label.form-check-label(for='flexCheckCheckedDisabled') Pameran
              .col
                .form-check
                  input#flexCheckCheckedDisabled.form-check-input(type='checkbox' )
                  label.form-check-label(for='flexCheckCheckedDisabled') Langka
              .col
                .form-check
                  input#flexCheckCheckedDisabled.form-check-input(type='checkbox' )
                  label.form-check-label(for='flexCheckCheckedDisabled') Tanaman Gantung
              .col
                .form-check
                  input#flexCheckCheckedDisabled.form-check-input(type='checkbox' )
                  label.form-check-label(for='flexCheckCheckedDisabled') Tanaman Hias (pohon)
              .col
                .form-check
                  input#flexCheckCheckedDisabled.form-check-input(type='checkbox' )
                  label.form-check-label(for='flexCheckCheckedDisabled') Tanaman Hias (Bunga)
              .col
                .form-check
                  input#flexCheckCheckedDisabled.form-check-input(type='checkbox' )
                  label.form-check-label(for='flexCheckCheckedDisabled') Tanaman Hias (Daun)
              .col
                .form-check
                  input#flexCheckCheckedDisabled.form-check-input(type='checkbox' )
                  label.form-check-label(for='flexCheckCheckedDisabled') Tanaman Hias (Buah)
              .col
                .form-check
                  input#flexCheckCheckedDisabled.form-check-input(type='checkbox' )
                  label.form-check-label(for='flexCheckCheckedDisabled') Tanaman Hias (Akar)
        .row.my-5
          button.btn.btn-primary.w-100(type='button') Submit



