extends base

block content 
    .col.bg-light.p-4
        .row.mb-5
            .col 
                h1= `${title}`
        .row
            //- .col-5
            .row.mb-3
                label.form-label.mb-2(for='storeName') Name
                input#storeName.form-control(type='text')

            .row.mb-3
                label.form-label.mb-2(for='description') Description
                textarea#description.form-control(placeholder='Leave a comment here' style='height: 200px')

            .row.mb-3
                label.form-label.mb-2(for='storeName') Owner
                input#storeName.form-control(type='text')

            .row.mb-3
                label.form-label.mb-2(for='storeName') Contact
                input#storeName.form-control(type='text')

            .row.mb-3
                label.form-label(for='formFile') Default file input example
                input#formFile.form-control(type='file')

            .row.my-5
                button.btn.btn-primary.w-100(type='button') Submit



