doctype html
html 
  head
    title Tanemin | #{title}
    <link rel="stylesheet" href="/bs/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/bs/css/bootstrap.css" />

  body
    .container-fluid
      .row
        //- - if (user)
        block content
        


    include _modals
    script(src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js")
    script(src='/bs/js/bootstrap.bundle.min.js')
    script(src='/js/store.js')
    script(src='/js/login.js')
    script(src='/js/plant.js')