extends base

block content 
  include _features
  include _navside
  .col.bg-light
    .card.p-5.shadow.mt-5.me-5
      .row.mb-5
        .col 
          h1 #{title}

      form#addPlantForm
        .row
          .col.m-2
            +imageUpload('imageCover', 'Image Cover')
            +imageUpload('image1', 'Image 1')
            +imageUpload('image2', 'Image 2')
            +imageUpload('image3', 'Image 3')
            +imageUpload('image4', 'Image 4')
            +imageUpload('image5', 'Image 5')
            +imageUpload('image6', 'Image 6')
          .col.m-2
            .row.mb-4
              +inputField('plantName', 'Plant Name')

            .row.mb-4
              label.form-label.mb-2(for='description') Description
              textarea#description.form-control(placeholder='Leave a comment here' style='height: 500px')
          .row.mb-4
            .card.p-3
              .row
                .col
                  .input-group.mb-3
                    span#inputGroup-sizing-default.input-group-text Price
                    input.form-control#price(type='text' aria-label='Sizing example input' aria-describedby='inputGroup-sizing-default' value=`${plant ? plant.price : ''}`)
                .col
                  select.form-select#selectStore(aria-label="Default select example")
                    option(selected) Select Store:
                    each store in stores
                        option(value=`${store._id}`)=`${store.storeName}`

                .col
                  select.form-select#selectDifficulty(aria-label="Default select example")
                    option(selected) Select Difficulty:
                    option(value='Easy') Easy
                    option(value='Medium') Medium
                    option(value='Hard') Hard
          .row.mb-4
            .card.p-3
              .row
                .col
                  +inputField('stock', 'stock', '', 'number')
                .col
                  +inputField('height', 'height', '', 'number')
                .col
                  +inputField('diameter', 'diameter', '', 'number')
                .col
                  +inputField('duration', 'duration', '', 'number')
          .row.mb-4
            .card.p-3
              .row
                label.form-label.mb-2 Type
                +checkBox('cbIndoor','Indoor')
                +checkBox('cbOutdoor','Outdoor')
                +checkBox('cbPameran','Pameran')
          .row.mb-4
            .card.p-3
              .row
                label.form-label.mb-2 Season
                +checkBox('cbMusimHujan','Musim Hujan')
                +checkBox('cbMusimPanas','Musim Panas')
          .row.mb-4
            .card.p-3
              .row
                label.form-label.mb-2(for='') Habitat
                +checkBox('cbHutan','Hutan')
                +checkBox('cbPenghujungSungai','Penghujung sungai')
                +checkBox('cbPerairan','Perairan')
                +checkBox('cbDaratan','Daratan')
                +checkBox('cbGurun','Gurun')
          .row.mb-4
            .card.p-3
              .row.mb-4
                label.form-label.mb-2(for='') Tags
                +checkBox('cbMusiman','Musiman')
                +checkBox('cbHiasanRuangan','Hiasan Ruangan')
                +checkBox('cbHiasanLuarRuangan','Hiasan Luar Ruangan')
                +checkBox('cbHobby','Hobby')
                +checkBox('cbKoleksi','Koleksi')
                +checkBox('cbPameran','Pameran')
                +checkBox('cbLangka','Langka')
                +checkBox('cbTanamanGantung','Tanaman Gantung')
                +checkBox('cbTanamanHiasPohon','Tanaman Hias (Pohon)')
                +checkBox('cbTanamanHiasBunga','Tanaman Hias (Bunga)')
                +checkBox('cbTanamanHiasDaun','Tanaman Hias (Daun)')
                +checkBox('cbTanamanHiasBuah','Tanaman Hias (Buah)')
                +checkBox('cbTanamanHiasAkar','Tanaman Hias (Akar)')
          .row.my-5
            button.btn.btn-primary.w-100 Submit



